---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Rodrigo Rodríguez Buxman | Desarrollador Web Fullstack">
	<div class="fixed opacity-50 inset-0 -z-10 max-w-2xl mx-auto grid grid-cols-4 gap-4 px-6">
		<div class="border-x border-neutral-900"></div>
		<div class="border-x border-neutral-900"></div>
		<div class="border-x border-neutral-900"></div>
		<div class="border-x border-neutral-900"></div>
	</div>
	<main class="pt-24 pb-12">
		<h1 class="text-2xl mb-6 leading-none text-neutral-100 font-medium">Rodrigo Rodríguez Buxman</h1>
		<p class="-mt-[0.3em] mb-6 text-sm lg:text-base">Desarrolador Web Fullstack. Actualmente trabajando como freelancer. Más de dos años de experiencia creando aplicaciones web con tecnologías como React, Next.js y Astro.</p>
		<p class="-mt-[0.3em] text-sm lg:text-base">Creador de <span class="border-b border-neutral-400/50 hover:border-neutral-400 duration-200 ease-in-out">InstaCall</span> y <span class="border-b border-neutral-400/50 hover:border-neutral-400 duration-200 ease-in-out">Global Clipboard</span>.</p>


		<section class="mt-12">
				<img class="rounded-md" src="https://cdn.dribbble.com/userupload/11356262/file/original-59aed31676f97b3680e54f7d7d156ada.png?resize=752x" alt="">
				<img class="rounded-md mt-6" src="https://images.mockupcloud.com/images/thumbs/images/2023/12/22/Phone_15_Mockup_8-1170x780.jpg" alt="">
				<img class="rounded-md mt-6" src="https://framerusercontent.com/images/LOYW96n5vL1mCiXVmtkvGZPAA7g.png" alt="">
		</section>

		<section class="mt-12">
			<h2 class="text-xl leading-none text-neutral-100 font-medium mb-6">Contacto</h2>

			<p class="-mt-[0.3em] text-sm lg:text-base">Envíame un correo a <a class="border-b border-neutral-400/50 hover:border-neutral-400 duration-200 ease-in-out" href="mailto:rdrbux@gmail.com">rdrbux@gmail.com</a>. También puedes seguirme en <a class="border-b border-neutral-400/50 hover:border-neutral-400 duration-200 ease-in-out" href="https://www.linkedin.com/in/rdrbux/" target="_blank" rel="noopener noreferrer">LinkedIn</a> o <a class="border-b border-neutral-400/50 hover:border-neutral-400 duration-200 ease-in-out" href="https://github.com/RdrBux" target="_blank" rel="noopener noreferrer">GitHub</a>.</p>

		</section>
	</main>
</Layout>
